#back_icon {
    position: relative;
   color: black;
   margin-top: 4.7%;
    margin-left: 5%;
    font-size: 30px;
}


#back_icon::before {
    position: absolute;
    z-index: 2;
    transition: transform 0.3s ease-in-out;
}

#back_icon:hover::before {
    transform: translateX(-40px)
}

#back_icon::after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
    color: black;
}

#back_icon::after {
    content: "Back";
}


#back_icon:hover::after {
    opacity: 1;
    transform: translateX(0);
    padding-left: 10px;
    height: 40px;
    /* background-image: conic-gradient(transparent, transparent, transparent, #ee00ff); */
}

#back_icon:hover::after {
    width: 160px;
}

#back_icon a:visited {
    color: inherit;
}
